.conference-list {
    .card {
        margin-bottom: 10px;
    }
    
    .btn {
        margin-right: 10px;
    }

    .conference-date {
        display: flex;
        padding-left: 0;
        font-size: .8rem;

        li:first-child {
            margin-right: 10px;
        }
    }

}