.card {
    width: 100%;
}

.confererence-form {
    width: 100%;
}
.date-pcikers {
    display: flex;
    padding-left: 0;

    li {
        flex: 1;
    }

    li:first-child {
        margin-right: 10px;
    }
}

.submit-button {
    text-align: right;

    button {
        margin-left: 10px;
        padding: 3px 15px;
    }
}